<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}
        <title>Hello world </title>
        {% endblock %}
    </head>

    <body>
        {% block content %}

        <ul>
            <!-- boucle permettant d'afficher tout les continents sur la page -->
            {% for i in data %}
            <li>
                {{i.nom}}
                {{i.prenom}}
                {{i.id}}

                <!-- liens contenant une url permettant de naviguer dans notre application
                nous avons ici deux manières de passer des paramètres dans l'url -->
                <a href="http://localhost:5000/delete/{{i.id}}">Delete</a>
                <a href="http://localhost:5000/update"> Update</a>
                
            </li>
            {% endfor %}

        </ul>
        {% endblock %}
        <a href="http://localhost:5000/add/">Ajouter un utilisateur</a>
    </body>

</html>